body{
    background-color: darksalmon;
}
h1{
    color: red;
    background-color: blue;
    font-size: 60px;

}

h2{
    color: blue;
    background-color: orange;
    font-size: 200px;

}

p{
    color:lawngreen;
    background-color: black;
    font-size: 300 px;
}