h1{
    color: red;
    background-color: blue;
    font-size: 60px;

}

h2{
    color: purple;
    background-color: pink;
    font-size: 200px;

}

p{
    color:lawngreen;
    background-color: black;
    font-size: 485 px;
}